.card{
    background-color: #bbd0ff;
    border-radius: 10px;
    list-style: none;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 15px;
}

.card:hover{
    transform: scale(1.03);
}

.cardImg{
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
}

.card img{
    height: 250px;
}

.cardText{
    text-align: center;
}

.cardText p{
    padding: 8px 0;
}